[tool.poetry]
name = "SPIMprep"
version = "0.1.0"
description = ""
authors = ["Ali Khan <alik@robarts.ca>"]
readme = "README.md"
packages = []

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
snakemake = ">8.0.0"
pulp = "2.7.0"
snakebids = {path = "/local/scratch/snakebids", develop = true}
snakemake-storage-plugin-gcs = "^0.1.4"

[tool.poetry.group.dev.dependencies]
snakefmt = "^0.10.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
